@model IEnumerable<CustomIdentityApp.Models.Note>



@{
    ViewData["Title"] = "Home Page";
}


@if (User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>

    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="Выход" />
    </form>

    <a asp-action="Create">Добавить заметку </a>
    <table class="table">
        <tr><td>Название заметки </td><td>Текст заметки</td></tr>
        @if (Model != null)
        {
            @foreach (var note in Model)
            {
            <tr><td>@note.NameNote</td><td>@note.Notes</td></tr>
            };
        }
        @if(Model==null)
        {
           <tr><td>Поле пустое </td><td>Поле пустое </td></tr>
        }

    </table>
}
else
{
    <a asp-controller="Account" asp-action="Login">Вход</a>
    <a asp-controller="Account" asp-action="Register">Регистрация</a>
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
